 header {
     background: rgb(56, 56, 55);
 }
nav li {
    display: inline;
    margin-left:10px ;

    
}
#logo {

    width:250px;
}
nav  {

    display: inline-block;
}

nav li {
   display: inline;
  margin-left: 15px;
}


nav a {
    texte-transform: uppercase;
    color:rgb(10, 10, 10);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
