 header {
     background: rgb(0, 2, 7);
 }
nav li {
    display: inline;
    margin-left:10px ;

    
}
#logo {

    width:250px;
}
nav  {

    display: inline-block;
}

nav li {
   display: inline;
  margin-left: 15px;
}


nav a {
    texte-transform: uppercase;
    color:rgb(6, 155, 241);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
